# Músicas da Billboard "The Hot 100"

In [95]:
import pandas as pd

In [96]:
# Leitura do arquivo

arquivo = '../data_raw/charts.csv'
base = pd.read_csv(arquivo, delimiter=',')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  object
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 17.6+ MB

In [97]:
base.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18

In [98]:
# Conversão de valores das colunas para formatos ideais

base['date'] = base['date'].astype('datetime64[ns]')
base['song'] = base['song'].astype('string')
base['artist'] = base['artist'].astype('string')
base['last-week'] = base['last-week'].fillna(0)
base['last-week'] = base['last-week'].astype('int64')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  datetime64[ns]
 1   rank            330087 non-null  int64
 2   song            330087 non-null  string
 3   artist          330087 non-null  string
 4   last-week       330087 non-null  int64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: datetime64[ns](1), int64(4), string(2)
memory usage: 17.6 MB

In [99]:
# Top 10 musicas que mais apareceram no Hot 100 ao longo do tempo

musicas = base['song'].value_counts()
musicas.head(10)

# Aplica um filtro de musicas na base e contabiliza quantas vezes cada valor aparece, e com isso seleciona as 10 primeiras

song
Stay           224
Angel          205
Hold On        202
You            195
Heaven         194
I Like It      188
Crazy          176
Without You    174
Forever        164
Happy          157
Name: count, dtype: Int64

In [100]:
# Top 10 artistas que mais apareceram no Hot 100 ao longo do tempo

artistas = base['artist'].value_counts()
artistas.head(10)

# Aplica um filtro de artistas na base e contabiliza quantas vezes cada valor aparece, e com isso seleciona as 10 primeiras

artist
Taylor Swift     1023
Elton John        889
Madonna           857
Drake             787
Kenny Chesney     769
Tim McGraw        731
Keith Urban       673
Stevie Wonder     659
Rod Stewart       657
Mariah Carey      621
Name: count, dtype: Int64

In [101]:
# Top 10 musicas com maior número de semanas na parada

permanencia = base.groupby('song')['artist'].value_counts().sort_values(ascending=False)
permanencia.head(10)

# Aplica um agrupamento por músicas na base, em conjunto com um filtro por nome de artistas, na sequência fazemos uma contagem de valor e uma ordenação

song                                 artist
Blinding Lights                      The Weeknd                                   90
Radioactive                          Imagine Dragons                              87
Sail                                 AWOLNATION                                   79
I'm Yours                            Jason Mraz                                   76
How Do I Live                        LeAnn Rimes                                  69
Counting Stars                       OneRepublic                                  68
Party Rock Anthem                    LMFAO Featuring Lauren Bennett & GoonRock    68
Rolling In The Deep                  Adele                                        65
Foolish Games/You Were Meant For Me  Jewel                                        65
Before He Cheats                     Carrie Underwood                             64
Name: count, dtype: int64

In [102]:
# Top 10 artistas com mais músicas no Top 1

topDez = base[base['rank'] == 1]
topDez = topDez['artist'].value_counts().head(10)
topDez.head(10)

# Nesse caso é feito um agrupamento por rank, com um filtro por artistas e contabilizamos o valor que o nome do artista aparece

artist
Mariah Carey           65
The Beatles            54
Boyz II Men            34
Madonna                32
Whitney Houston        31
Drake                  31
Michael Jackson        30
The Black Eyed Peas    28
Bee Gees               27
Adele                  26
Name: count, dtype: Int64

In [103]:
# Top 10 artistas com mais músicas no Top 10

topUm = base[base['rank'] <= 10]
topUm = topUm['artist'].value_counts().head(10)
topUm.head(10)

# Primeiro selecionamos as linhas onde o rank é menor ou igual a 10

artist
Mariah Carey       233
Madonna            213
The Beatles        203
Whitney Houston    161
Bruno Mars         150
Janet Jackson      148
Taylor Swift       147
Michael Jackson    146
Usher              145
Elton John         144
Name: count, dtype: Int64