# Músicas da Billboard "The Hot 100"

In [ ]:
import pandas as pd

In [ ]:
# Leitura do arquivo

arquivo = '../data_raw/charts.csv'
base = pd.read_csv(arquivo, delimiter=',')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  object
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 17.6+ MB

In [ ]:
base.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5,2,18

In [ ]:
# Conversão de valores das colunas

base['date'] = base['date'].astype('datetime64[ns]')
base['song'] = base['song'].astype('string')
base['artist'] = base['artist'].astype('string')
base['last-week'] = base['last-week'].fillna(0)
base['last-week'] = base['last-week'].astype('int64')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  datetime64[ns]
 1   rank            330087 non-null  int64
 2   song            330087 non-null  string
 3   artist          330087 non-null  string
 4   last-week       330087 non-null  int64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: datetime64[ns](1), int64(4), string(2)
memory usage: 17.6 MB

In [ ]:
# Musicas mais tocadas

musicas = base['song'].value_counts().reset_index()
musicas.columns = ['musicas', 'quantidade']
musicas.head()

   musicas  quantidade
0     Stay         224
1    Angel         205
2  Hold On         202
3      You         195
4   Heaven         194

In [ ]:
# Artistas mais tocados

artistas = base['artist'].value_counts().reset_index()
artistas.columns = ['artistas', 'quantidade']
artistas.head()

        artistas  quantidade
0   Taylor Swift        1023
1     Elton John         889
2        Madonna         857
3          Drake         787
4  Kenny Chesney         769